

.contactUsContainer{
    width: 70%;
    margin: 100px auto;

}
h1{
    font-size: 2em;
    margin-bottom: 50px;
    color: orange;
}
form{

}
label, input{
    text-align: left;
    font-size: 1.2em;
}
label, button{
    display: block;
    margin: 10px 0;
}
input, textarea{
    background: #ddd;
    border: none;
    padding: 10px;
    width: 30%;
}
textarea{

    height: 100px;
}
.submit{
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    transition: border 0.5s;
    font-size: 1.2em;
}
.submit:hover{
    border-bottom: 2px solid orange;
}