*{
  margin: 0;
  padding: 0;
  font: 14px 'Avenir', sans-serif;
}
body{
  background-color: #fff;
}
header{
  margin: 25px auto 0;
  width: 80%;
  text-align: center;
  background-color: orange;
  border-radius: 5px;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  margin: 10px 80px;
  color: #fff;
  font-size: 1.4em;
}
.pull-left{
  margin: 10px 0 10px 20px;
  float: left;
}
.pull-right{
  margin: 10px 40px 10px 0;
  float: right;
}

.navBtn{
    background: transparent;
    color: #fff;
    border: 2px solid transparent;
    outline: none;
    font-size: inherit;
    transition: border 0.5s;
}
.navBtn:hover{

    border-bottom: 2px solid #fff;


}

.mainContainer{
  width:80%;
  margin: 0 auto;
}
.mainContainer img{
  width:100%;
    margin: 100px 0;
}
.callToAction{
    background-color: #fff;
    display: inline-block;
    width: 500px;
    height: 200px;
    position: relative;
    top: -500px;
    padding: 50px;
    box-sizing: border-box;
}
.callToAction p, .callToAction button{
    margin: 10px;
}
.callToAction button{
    outline: none;
    background-color: transparent;
    border: 2px solid transparent;
    transition: border 0.5s;
    font-size: 1.2em;

    color: orange;

}
.callToAction button:hover{
    border-bottom: 2px solid orange;
}

footer{
    width: 80%;
    height: 200px;
    background-color: #333;
    color: #ddd;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;

}
.copyright{
    margin-top: 55px;
    background-color: #CF8600;
    width: 100%;
    padding: 10px 0;
}

.outerLinks li{
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
    margin: 0 50px;

}
.innerLinks li{
    list-style-type: none;
    display: block;
    text-align: left;
}
.topLink{
    font-size: 1.2em;
    padding-bottom: 15px;
    color: #fff;
}
.social img{
    width: 20px;
    height: auto;
}
.social{

}
.social li{

    display: inline-block;
    padding: 0;
    margin: 5px 10px 0 0;
}
.contactUsContainer{
    width: 70%;
    margin: 100px auto;

}
h1{
    font-size: 2em;
    margin-bottom: 50px;
    color: orange;
}
form{

}
label, input{
    text-align: left;
    font-size: 1.2em;
}
label, .submit{
    display: block;
    margin: 10px 0;
}
input, textarea{
    background: #ddd;
    border: none;
    padding: 10px;
    width: 30%;
}
textarea{

    height: 100px;
}
.submit{
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    transition: border 0.5s;
    font-size: 1.2em;
}
.submit:hover{
    border-bottom: 2px solid orange;
}

.aboutUsContainer{
    margin: 100px auto;
    width: 80%;
}

.aboutUsbanner{
    width:100%;
}
.aboutUs{
    color: white;
    font-size: 5em;
    font-weight: bold;
    position: relative;
    top: -100px;
    left: 100px;

}
.aboutUsBody{
    width: 50%;
    margin: 0 auto;

}