<div class="aboutUsContainer">
  <img class="aboutUsbanner" src="img/aboutUsBanner.jpg">
  <p class="aboutUs"> About Us</p>

<div class="aboutUsBody">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis rhoncus sapien.
    Phasellus in risus neque. Nulla sagittis, purus sed volutpat convallis, risus ligula convallis nunc,
    id mollis magna elit sit amet lectus. Nullam lobortis neque vel felis convallis, ut porta nisi vestibulum. </p><br>
  <p>
    Donec ac dictum quam, eu lacinia ligula. Proin mi urna, pellentesque at urna non, rutrum porta quam.
    Praesent suscipit iaculis nulla ac porttitor. Sed nec ligula mollis, fermentum eros id, finibus nulla. </p><br>
  <p>
    Donec ac dictum quam, eu lacinia ligula. Proin mi urna, pellentesque at urna non, rutrum porta quam.
    Praesent suscipit iaculis nulla ac porttitor. Sed nec ligula mollis, fermentum eros id, finibus nulla. </p><br>
</div>
</div>